.sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-micro;

  background-color: $color-neutral-light;

  &__item {
    width: 95%;
    height: 3%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: $color-neutral-lightest;
    border: $stroke-100 solid $color-neutral-medium-04;
    border-radius: $radius-300;

    transition: 1s ease border;

    &.active {
      border-color: $color-action-darkest;
      color: $color-action-darkest;

      &:hover {
        border-color: $color-action-darkest;
        color: $color-action-darkest;
      }
    }

    p {
      text-align: left;
      width: 70%;
    }

    &:hover {
      border-color: $color-action-medium;
      color: $color-action-medium;
    }
  }
}