.dashboard {
  width: 100%;
  height: 100%;

  background-color: $color-neutral-light;

  display: flex;
  align-items: center;

  &__sidebar {
    width: 18%;
    height: 100%;

    transition: 1s ease width;

    &--collapse {
      width: 3%;
      overflow: hidden;
      
      .sidebar__items__item {
        border-radius: 0px;

        p {
          display: none;
        }
      }
    }

  }

  &__content {
    width: 80.7%;
    height: 98%;

    transition: 1s ease width;

    &--collapse {
      width: 96.5%;
    }   

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    &__card {
      width: 100%;
      height: 85%;
    }
  }
}