.provider-table {
  width: 100%;
  height: 100%;

  &__filters {
    display: flex;
    justify-content: space-between;
    
    width: 100%;

    height: 10%;

    &__actions {
      width: 23%;

      display: flex;
      justify-content: space-between;
    }

    .form {
      width: 50%;
    }
  }
  
  &__table {
    &__column,
    &__row {
      &--name {
        text-align: left;
        width: 35%;
      }

      &--country_code,
      &--createdAt,
      &--updatedAt {
        width: 10%;
      }

      &--id {
        width: 3%;
      }
    }

    &__row {
      &--id, &--country_code, &--createdAt, &--updatedAt {
        text-align: center;
      }
    }
  }
}