// Section Colors
// Action
$color-action-lightest: #b9d7e8;
$color-action-light: #529ec6;
$color-action-medium: #0070ab;
$color-action-dark: #005582;
$color-action-darkest: #004266;
// Neutral
$color-neutral-lightest: #ffff;
$color-neutral-light: #ececec;
$color-neutral-medium-04: #cccc;
$color-neutral-medium-03: #9999;
$color-neutral-medium-02: #6666;
$color-neutral-medium-01: #4444;
$color-neutral-dark: #202020;
$color-neutral-darkest: #0000;
// Alert
$color-alert-info: #3255e2;
$color-alert-success: #0a7c2f;
$color-alert-attention: #ebbc03;
$color-alert-error-dark-theme: #cc001b;
$color-alert-info-dark-theme: #b7cce3;
$color-alert-success-dark-theme: #b5eac6;
$color-alert-attention-dark-theme: #ffdd96; 
$color-alert-error-dark-theme: #efb4ba;
// Base
$color-transparent: transparent;
// Typography
// Family
$font-family-default: 'Roboto';
// Weight
$font-weight-light: 'Light';
$font-weight-regular: 'Regular';
$font-weight-medium: 'Medium';
$font-weight-bold: 'Bold';
// Size
$font-size-nano: 12px;
$font-size-macro: 14px;
$font-size-base: 16px;
$font-size-xxs: 18px;
$font-size-xs: 20px;
$font-size-sm: 24px;
$font-size-md: 32px;
$font-size-lg: 40px;
$font-size-xl: 48px;
$font-size-xxl: 56px;
$font-size-xxxl: 72px;
$font-size-giant: 88px;
$font-size-huge: 104px;
// Height
$line-height-lightest: 1.0;
$line-height-light: 1.3;
$line-height-medium: 1.5;
$line-height-loose: 1.7;
// Margin
$spacing-nano: 4px;
$spacing-micro: 8px;
$spacing-xxxs: 12px;
$spacing-xxs: 16px;
$spacing-xs: 24px;
$spacing-sm: 32px;
$spacing-md: 40px;
$spacing-lg: 56px;
$spacing-xl: 80px;
$spacing-xxl: 120px;
$spacing-giant: 160px;
$spacing-huge: 200px;
// Padding
$spacing-squish-nano: 4px 8px;
$spacing-squish-micro: 8px 16px;
$spacing-squish-sm: 12px 24px;
$spacing-squish-md: 16px 32px;
$spacing-squish-lg: 24px 48px;
// Lines
$stroke-100: 1px;
$stroke-200: 2px;
$stroke-300: 3px;
$stroke-400: 4px;
$stroke-500: 5px;
// Radius
$radius-100: 1px;
$radius-200: 2px;
$radius-300: 4px;
$radius-400: 16px;
$radius-pill: 50%;





